:root {
  --gray-30:           #e3e3e3;
  --gray-60:           #6f6f6f;
}



.wrapper {
  cursor: pointer;
  font-family: helvetica;
  color: var(--gray-80);
}

*::selection {
  background: transparent;
}

*::-moz-selection {
  background: transparent;
}

.h1 {
  font-size: 60px;
  border-color: var(--gray-30);
}

.h2 {
  border-color: var(--gray-30);
}

.hex {
  color: var(--gray-60);
}

.rgb { }

.hsv { }

.background {
  min-height: 100vh;
}
