:root {
  --white:             #ffffff;
  --gray-10:           #f4f4f4;
  --gray-20:           #f1f1f1;
  --gray-30:           #e3e3e3;
  --gray-40:           #cccccc;
  --gray-50:           #aaaaaa;
  --gray-60:           #6f6f6f;
  --gray-70:           #585858;
  --gray-80:           #393939;
  --gray-90:           #242424;
  --black:             #000000;
}


.wrapper {
  composes: mt3 px2 from "../../css/bass.css";
  font-family: helvetica;
  color: var(--gray-80);
}

.h1 {
  composes: my1 px1 py2 border-bottom from "../../css/bass.css";
  font-size: 60px;
  border-color: var(--gray-30);
}

.p {
  composes: h2 m0 mb2 p0 px1 py2 border-bottom from "../../css/bass.css";
  border-color: var(--gray-30);
}

.hex {
  composes: h2 pb0 px1 regular from "../../css/bass.css";
  color: var(--gray-60);
}

.rgb {
  composes: h4 p1 pb2 inline-block from "../../css/bass.css";
}

.hsv {
  composes: h4 p1 pb2 inline-block from "../../css/bass.css";
}

.background {
  min-height: 100vh;
}
